<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<h1>Register</h1>
		<form ng-submit="register.doRegister()">
			<!-- USERNAME INPUT -->
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" ng-model="register.registerData.username">
			</div>
			<!-- PASSWORD INPUT -->
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="register.registerData.password">
			</div>

			<!-- LOGIN BUTTON -->
			<div class="alert alert-danger" ng-if="register.error">
				{{ register.error }}
			</div>
			<!-- LOGIN BUTTON -->			
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!login.processing">Register</span>
				<span ng-if="login.processing" class="spinner">
					<span class="glyphicon glyphicon-repeat"></span>
				</span>
			</button>
		</form>
	</div>
</div>