<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<h1>Register</h1>
		<form name="registerForm" ng-submit="register.doRegister()">
			<!-- USERNAME INPUT -->
			<div class="form-group">
				<label>Username</label>
				<input type="email" name="email" ng-pattern="/^[A-Za-z0-9._%+-]+@nisum.com$/" class="form-control" placeholder="example@nisum.com" ng-model="register.registerData.username">
				<span ng-show="registerForm.$invalid" class="error">wrong email!</span>
			</div>
			<!-- PASSWORD INPUT -->
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="******" ng-model="register.registerData.password">
			</div>

			<!-- LOGIN BUTTON -->
			<div class="alert alert-success" ng-if="register.success">
				{{ register.success }}
			</div>
			<div class="alert alert-danger" ng-if="register.error">
				{{ register.error }}
			</div>
			<!-- LOGIN BUTTON -->			
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!login.processing">Register</span>
				<span ng-if="login.processing" class="spinner">
					<span class="glyphicon glyphicon-repeat"></span>
				</span>
			</button>
		</form>
	</div>
</div>